//- extends layout

//- block content
.inner
  h2 Home
  h3 Setup
  ul
    li: a(href="/setup/schedule") Seed NFL Schedule
    li: a(href="/setup/games") Parse All Completed Games (gets json from nfl.com)
    li: a(href="/setup/this-week") Parse This Week
    li: a(href="/setup/matchups") Seed Fantasy Matchups
    li: a(href="/setup/fantasy-teams") Seed Fantasy Teams and set Players to Fantasy Teams
    li: a(href="/setup/update-records") Update Fantasy Team Records
    li: a(href="/setup/teams") Seed All NFL Teams
    li: a(href="/setup/rosters") Seed All NFL Players
    li: a(href="/setup/photos") Download All NFL Player Photos

  h3 Views
  ul
    li: a(href="/nfl-schedule") Show NFL Schedule
    li: a(href="/stats") Show All Player Stats
    li: a(href="/teams") Show NFL Teams
