$green: #c3fc4a;
$orange: #e74c69;
$blue_dark: #0f232a;
$blue: #4ce8be;

$font_ringside: 'Ringside Compressed SSm A', 'Ringside Compressed SSm B',
  Helvetica, Arial, sans-serif;
$font_ideal: 'Ideal Sans SSm A', 'Ideal Sans SSm B', Helvetica, Arial,
  sans-serif;
